<body style="text-align: center">

<h1> Welcome to Flatiron Students Presents </h1>

<p> This is a demo on setting up a rails application on heroku</p>


<marquee> <img src="https://static1.squarespace.com/static/54e8ba93e4b07c3f655b452e/t/57cf3d2846c3c4d2933a9d28/1474332420480/DSC_5454.jpg"/></marquee>
</body>
